.link {
  display: inline-block;
  box-shadow: 5px 5px 19px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.link:hover {
  box-shadow: 5px 5px 19px 1px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.wrapper {
  width: 300px;
  height: 450px;
  padding: 0.5rem 0.75rem 0.5rem;
}

.title {
  font-weight: bold;
  font-size: x-large;
  text-align: left;
}

.bar {
  background-color: #55ab40;
  height: 2px;
  margin-bottom: 2rem;
}
